<h3>Edit a restaurant</h3>

<div>
	<form action="">
		<div>
			<span>Restaurant name:</span>
			<label for="restaurant_name">
				<input type="text" name="restaurant_name" id="restaurant_name">
			</label>
		</div>
		<div>
			<span>Cuisine type:</span>
			<label for="restaurant_name">
				<input type="text" name="restaurant_name" id="restaurant_name">
			</label>
		</div>
		
		<button>Cancel</button>
		<input type="submit" value="Edit">
	</form>
</div>